OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OLLAMA_API_KEY=a3ae3f21e8604ee6827a88b9e5806ace.QHpEe_PiXZBzZ_BMJNalgV_x
OLLAMA_BASE_URL=https://ollama.com
